<div id="about" class="px-4 md:px-16 lg:px-32 2xl:px-48 border-b md:border-none">
  <div class="flex flex-col md:flex-row gap-4 md:gap-8">
    <div class="w-full md:w-1/2 md:flex justify-center">
      <%= image_tag "about.AVIF", class: "w-full md:block hidden" %>
    </div>
    <div class="w-full md:w-1/2 py-4 md:py-8 flex flex-col justify-center">
      <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold text-title">A propos<span class="text-4xl md:text-6xl lg:text-8xl font-bold text-logo">.</span></h1>
      <p class="text-lg md:text-xl lg:text-2xl mt-2 md:mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed euismod, nunc ut aliquam tincidunt, nunc nisl aliquam nisl,
          sit amet aliquam nisl nisl sit amet nisl.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed euismod, nunc ut aliquam tincidunt, nunc nisl aliquam nisl,
          sit amet aliquam nisl nisl sit amet nisl.
      </p>
    </div>
  </div>
</div>
