<div id="about" class="px-4 md:px-16 lg:px-32 2xl:px-48">
  <div class="flex flex-col md:flex-row gap-4 md:gap-8">
    <div class="w-full md:w-1/2 py-4 md:py-8">
      <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold text-logo font-['tangerine']">About Me</h1>
      <p class="text-lg md:text-xl lg:text-2xl mt-2 md:mt-4 text-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed euismod, nunc ut aliquam tincidunt, nunc nisl aliquam nisl,
          sit amet aliquam nisl nisl sit amet nisl.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed euismod, nunc ut aliquam tincidunt, nunc nisl aliquam nisl,
          sit amet aliquam nisl nisl sit amet nisl.
      </p>
    </div>
    <div class="w-full md:w-1/2">
      <%= image_tag "Post.gif", class: "w-full" %>
    </div>
  </div>
</div>
